:root {
    /* ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
             * Charcounter
             * ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ */
    --ar-charcounter-warning-weight: 600;
    --ar-charcounter-error-weight: 700;
}

ar-charcounter {
    &::part(count) {
        color: var(--ar-color-text-muted);
        font-size: 0.875rem;
    }

    &::part(count--warning) {
        color: var(--ar-color-warning-text);
    }

    &::part(count--error) {
        color: var(--ar-color-danger-text);
    }
}
