:root {
    /* ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
             * Progressbar
             * ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ */
    --ar-progressbar-track-color: light-dark(
        var(--ar-color-neutral-90),
        color-mix(in oklab, var(--ar-color-vault), white 20%)
    );
    --ar-progressbar-fill-color: var(--ar-color-primary-70);
    --ar-progressbar-max-width: 500px;
}

ar-progressbar {
    &::part(progressbar) {
        row-gap: 0.75rem;
    }

    &::part(label) {
        column-gap: 2rem;
    }

    &::part(percent) {
        color: var(--ar-color-text-muted);
    }

    &::part(track),
    &::part(bar) {
        border-radius: var(--ar-border-radius-full);
    }
}
