:root {
    /* ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
             * Tooltip
             * ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ */
    --ar-tooltip-distance: 10px;
    --ar-tooltip-offset: var(--ar-anchor-offset);
    --ar-tooltip-bg: light-dark(var(--ar-color-neutral-20), var(--ar-color-neutral-80));
    --ar-tooltip-color: light-dark(var(--ar-color-white), var(--ar-color-neutral-10));
    --ar-tooltip-arrow-size: 6px;
    --ar-tooltip-show-duration: var(--ar-panel-show-duration);
    --ar-tooltip-radius: var(--ar-border-radius-sm);
    --ar-tooltip-padding: 0.375rem 0.625rem;
    --ar-tooltip-font-size: 0.8125rem;
    --ar-tooltip-line-height: 1.4;
}
