:root {
    /* ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
             * Panel
             * Partagé - dropdown, breadcrumb, stepper, datepicker
             * ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ */
    --ar-panel-bg: var(--ar-color-bg);
    --ar-panel-text: var(--ar-color-text);
    --ar-panel-border-color: var(--ar-color-border);
    --ar-panel-radius: var(--ar-border-radius-md);
    --ar-panel-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 10px 15px -3px rgba(0, 0, 0, 0.07);
    --ar-panel-padding: 0.25rem;
    --ar-panel-min-width: 18rem;
    --ar-panel-max-width: 18rem;
    --ar-panel-show-duration: 0.2s;
}
